altgraph==0.17.2 ; python_version >= "3.8" and python_version < "4.0"
appdirs==1.4.4 ; python_version >= "3.8" and python_version < "4.0"
astroid==2.9.0 ; python_version >= "3.8" and python_version < "4.0"
atomicwrites==1.4.0 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
attrs==21.4.0 ; python_version >= "3.8" and python_version < "4.0"
black==19.10b0 ; python_version >= "3.8" and python_version < "4.0"
certifi==2021.10.8 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==2.0.10 ; python_version >= "3.8" and python_version < "4.0"
click==8.0.3 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.3.9 ; python_version >= "3.8" and python_version < "4.0"
coverage==6.2 ; python_version >= "3.8" and python_version < "4.0"
coverage[toml]==6.2 ; python_version >= "3.8" and python_version < "4.0"
coveragespace==3.1.1 ; python_version >= "3.8" and python_version < "4.0"
docopt==0.6.2 ; python_version >= "3.8" and python_version < "4.0"
freezegun==1.1.0 ; python_version >= "3.8" and python_version < "4.0"
future==0.18.2 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
ghp-import==2.0.2 ; python_version >= "3.8" and python_version < "4.0"
idna==3.3 ; python_version >= "3.8" and python_version < "4.0"
importlib-metadata==4.8.3 ; python_version >= "3.8" and python_version < "4.0"
iniconfig==1.1.1 ; python_version >= "3.8" and python_version < "4.0"
isort==4.3.21 ; python_version >= "3.8" and python_version < "4.0"
jinja2==3.0.3 ; python_version >= "3.8" and python_version < "4.0"
lazy-object-proxy==1.7.1 ; python_version >= "3.8" and python_version < "4.0"
macfsevents==0.8.1 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "darwin"
macholib==1.15.2 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "darwin"
markdown==3.3.6 ; python_version >= "3.8" and python_version < "4.0"
markupsafe==2.0.1 ; python_version >= "3.8" and python_version < "4.0"
mccabe==0.6.1 ; python_version >= "3.8" and python_version < "4.0"
mergedeep==1.3.4 ; python_version >= "3.8" and python_version < "4.0"
minilog==2.0.1 ; python_version >= "3.8" and python_version < "4.0"
mkdocs==1.2.3 ; python_version >= "3.8" and python_version < "4.0"
mypy-extensions==0.4.3 ; python_version >= "3.8" and python_version < "4.0"
mypy==0.931 ; python_version >= "3.8" and python_version < "4.0"
nose==1.3.7 ; python_version >= "3.8" and python_version < "4.0"
packaging==21.3 ; python_version >= "3.8" and python_version < "4.0"
pathspec==0.9.0 ; python_version >= "3.8" and python_version < "4.0"
pefile==2021.9.3 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
platformdirs==2.4.0 ; python_version >= "3.8" and python_version < "4.0"
pluggy==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
py==1.11.0 ; python_version >= "3.8" and python_version < "4.0"
pydocstyle==6.1.1 ; python_version >= "3.8" and python_version < "4.0"
pygments==2.11.2 ; python_version >= "3.8" and python_version < "4.0"
pyinstaller-hooks-contrib==2021.5 ; python_version >= "3.8" and python_version < "4.0"
pyinstaller==4.5.1 ; python_version >= "3.8" and python_version < "4.0"
pylint==2.12.0 ; python_version >= "3.8" and python_version < "4.0"
pync==2.0.3 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "darwin"
pyparsing==3.0.6 ; python_version >= "3.8" and python_version < "4.0"
pytest-cov==3.0.0 ; python_version >= "3.8" and python_version < "4.0"
pytest-describe==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
pytest-random==0.02 ; python_version >= "3.8" and python_version < "4.0"
pytest==6.2.5 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "4.0"
python-termstyle==0.1.10 ; python_version >= "3.8" and python_version < "4.0"
pywin32-ctypes==0.2.0 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
pyyaml-env-tag==0.1 ; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "4.0"
regex==2021.11.10 ; python_version >= "3.8" and python_version < "4.0"
requests==2.27.1 ; python_version >= "3.8" and python_version < "4.0"
setuptools==65.3.0 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
sniffer==0.4.1 ; python_version >= "3.8" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.8" and python_version < "4.0"
tomli==1.2.3 ; python_version >= "3.8" and python_version < "4.0"
typed-ast==1.5.1 ; python_version >= "3.8" and python_version < "4.0"
types-setuptools==57.4.7 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.0.1 ; python_version >= "3.8" and python_version < "4.0"
urllib3==1.26.8 ; python_version >= "3.8" and python_version < "4"
watchdog==2.1.6 ; python_version >= "3.8" and python_version < "4.0"
wrapt==1.13.3 ; python_version >= "3.8" and python_version < "4.0"
zipp==3.6.0 ; python_version >= "3.8" and python_version < "4.0"
